body {
    padding: 0.2cm;
    margin: 0.2cm;
}
.circuled-menu ul li {
    height: 0.1cm;
    width: 0.1cm;
    
}
.circuled-menu ul {
    padding-top: 0.5cm;
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    gap: 0.1cm;
    border: 1px solid white;
}
header .circuled-menu button {
    border: none;
    background-color: transparent;
    
}
header button circuled{
    padding-top: 4rem;
}
 button .signin {
    padding-bottom: 1cm;
    
}
.headimage {
    text-align: center;
    height: 5cm;
    width: 10cm;


}
.headimage img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    object-position: center bottom;
    width: auto;
}
