#title {
    text-align: center;
}
.wholebody {
    margin: 1cm;
    padding: 1cm;
    font-size: 14px;
    background-color: transparent;
    background-size: auto;
}
#heading {
    text-align: center;
    color: #194E37;
    

}
.googlesearch {
    text-align: center;
    margin-top: 0px;

}
#searchbutton {
    text-align: center;
    border-radius: 50%;




}
.searchimage {
    text-align: right;
    border-radius: 1cm;


}
