body {
    padding: 0.2cm;
    margin: 0.2cm;
}
.heading {
    text-align: end;
}
.circuled-menu ul li {
    height: 0.1cm;
    width: 0.1cm;
    
}
.circuled-menu ul {
    padding-top: 0.5cm;
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    gap: 0.1cm;
    border: 1px solid white;
}
header .circuled-menu button {
    border: none;
    background-color: transparent;
    
}
header button circuled{
    padding-top: 4rem;
}
header .signin a {
    text-decoration: none;
    border: 2px solid rgb(15, 64, 211);
    padding-inline: 0.5cm;
    padding-top: 0.2cm;
    padding-bottom: 0.2cm;
    border-left: 30%;
    font-size: 16px;
    background-color: rgb(30, 77, 216);
}

header .signin a:hover {
    text-shadow: 1px;
}
.headimage {
    height: 5cm;
    width: 9cm;
    }
.headingimage {
    text-align:center ;
}



