
.wholebody {
    margin: 1cm;
    padding: 1cm;
}
#heading {
    text-align: center;
    color: #194E37;
    

}
.googlesearch {
    text-align: center;
    margin-top: 0px;

}
#searchbutton {
    text-align: center;
    border-radius: 5px;



}
.searchimage {
    text-align: right;
    background-image: url('wah.jpg');
    border-radius: 1cm;


}
