
.wholebody {
    margin: 1cm;
    padding: 1cm;
    font-size: 120%;
    text-align: center;
}
#heading {
    text-align: center;
    color: #194E37;
    

}
.googlesearch {
    text-align: center;
    margin-bottom: 10px;
    border-radius: 20px;

}
#searchbutton {
    text-align: center;
    border-radius: 120%;
    margin-top: 4px;




}
.searchimage {
    text-align: right;
    text-decoration-color: black;
    font-size: 100%;


}
