body {
    margin: 1cm;
    background-color: #eceaea;

}

a {
    text-decoration: none;
}

header {
    display: flex;
    justify-content: flex-end;
    
    
}
header nav {
    display: flex;
    justify-content: flex-end;
    
}
header nav a {
    margin-right: 0.5cm;

}
header nav div button {
    margin-left: 0.5cm;
}
.profileimage {
    border-radius: 50%;
}


header nav a:hover{
    text-decoration: underline;
}

header nav .circuledmenu {
    margin-top: -0.6cm;
    padding: 0.1cm;
    margin-left: -1cm;
    justify-content: flex-end;
    border-radius: 50%;
    margin-bottom: 0.1cm;
    

    
    }

header nav .circuledmenu ul {
        display: grid;
        grid-template-columns:repeat(3, 1fr);
        gap: 0.1cm;
} 


header nav .circuledmenu ul li {
    height: 0.1cm;
    width: 0.1cm;
    
}
header nav .circuledmenu ul:hover {
    color:rgb(44, 156, 167);
}
.righthead {
    text-align: right;
    text-decoration: none;
}
.googleimage {
    text-align: center;
}
.googleimage img{
    height: 5cm;
    width: 9cm;
    justify-content: center;
    align-items: center;
}
.searchsection form .magnifier{
    text-align: center;
}

.googlesearch {
    text-align: center;
    margin-top: -0.5cm;
    

}



.magnifier {
    height: 0.3cm;
    width: 0.3cm;
}
.searchsection {
    text-align: center;
    margin-bottom: 1cm;
}
.searchsection form {
    max-width: 600px;
    margin: auto;
}
.searchsection form label {
    position: absolute;
    top: 83%;
    transform: translateX(60%);
    color: #9f9d9d;
}

.searchsection form input {
    padding: 0.2cm;
    width: 100%;
    border-radius: 30px;
    border: 1px solid #6d6c6c;
    transition: 0.5s;
}


.googlesebutton {
    border: 1px solid white;
    justify-content: center;
}



